#== IDEs, Editors
.idea/

#== Operating Systems
.DS_Store
*.sw?

#== Folders
code/plots/*
evaluation/*

#== Environments
.venv
.ipynb_checkpoints/
__pycache__/

#== Reporting
*.html

#== data
results-survey.csv

#== pyenv
.python-version

